{% extends 'base.html' %}

{% block title %}
index
{% endblock title %}

{% block body %}
  
<div class="container" style="margin-left:150px">
    <div class="container" style="width:40%; float:right; margin-top:200px">
        <form action="" method="post">
            {% csrf_token %}
            <label for="strategy">Strategy: </label>

            {% comment %} strategy select {% endcomment %}
            <select name="strategy">
                <option value=""></option>
                <option value="Sample01">Sample01</option>
                <option value="Sample02">Sample02</option>
                <option value="qvm_sd_6121">qvm_sd_6121</option>
                <option value="qvm_sd_7121">qvm_sd_7121</option>
                <option value="qvm_sd_8121">qvm_sd_8121</option>
            </select>
            <br>

            {% comment %} detail info select {% endcomment %}
            <label for="deposit">deposit: </label>
            <input id="deposit" type="text" name="deposit">
            <br>
            <label for="buy">buy: </label>
            <select name="buy">
                <option value=""></option>
                <option value="open">open</option>
                <option value="close">close</option>
            </select>
            <br>
            <label for="sell">sell: </label>
            <select name="sell">
                <option value=""></option>
                <option value="open">open</option>
                <option value="close">close</option>
            </select>
            <br>
            <label for="fee_rate">Fee rate: </label>
            <input id="fee_rate" type="text" name="fee_rate">
            <br>
            <label for="tax_rate">Tax rate: </label>
            <input id="tax_rate" type="text" name="tax_rate">    
            <br>
            <input class="bts btn-danger center-block" type="submit" value="Run">
        </form>
            {% comment %} {% if image_base64 %}
                <h4>{{port_weight}}적용시 (거래세율 - {{fee_rate}}% | {{tax_rate}}% )</h4>
            {% endif %}  {% endcomment %}
        </div>

    <div class="container" style="width:60%; float:left; margin-top:100px">
        {% if image_base64_1 %}
            <img src="data:image/png;base64,{{image_base64_1}}" alt="No image" width=600 height=auto />
        {% endif %} 
        {% if image_base64_2 %}
            <img src="data:image/png;base64,{{image_base64_2}}" alt="No image" width=600 height=auto />
        {% endif %} 
        {% if res %}
            <div>{{res | safe}}</div>
        {% endif %} 

    </div>
</div>

{% endblock body %}

