<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% comment %} bootstrap {% endcomment %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{% block title %}
    {% endblock title %}  </title>
</head>
<body>
{% comment %} navbar {% endcomment %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  {% comment %} <a class="navbar-brand" href="#">Navbar</a> {% endcomment %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link"></a></li>
        <li class="nav-item"><a class="nav-link"></a></li>
        <li class="nav-item"><a class="nav-link"></a></li>
        <li class="nav-item"><a class="nav-link"></a></li>
        <li class="nav-item"><a class="nav-link"></a></li>
        <li class="nav-item"><a class="nav-link"></a></li>
    
      <li class="nav-item active">
        <a class="nav-link" href=" {% url 'myapps:strategies' %} ">Strategy</a>
        {% comment %} <span class="sr-only">(current)</span> {% endcomment %}
      </li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>      

      <li class="nav-item">
        <a class="nav-link" href="{% url 'myapps:index' %} " style="color:white;">Backtesting</a>
      </li>
        <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item">
        <a class="nav-link" href=" {% url 'myapps:analyze' %} " style="color:white;">Backtesting analyze</a>
      </li> 
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>

      <li class="nav-item">
        <a class="nav-link" href=" {% url 'myapps:improve' %} " style="color:white;">Improve strategy</a>
      </li> 
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
      <li class="nav-item"><a class="nav-link"></a></li>
  
    </ul>
  </div>
</nav>


{% block body %}
{% endblock body %}






</body>
</html>